/* Adjust the number of items per row based on the page zoom or viewport size */
.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}

.products-container{
@media (max-width: 600px) {
  .products-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .products-container {
    justify-content: space-between;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .products-container {
    justify-content: space-around;
  }
}

@media (min-width: 1281px) {
  .products-container {
    justify-content: center;
  }
}
}