/* Categories.module.css */

.container {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
}

.heading {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.textField {
  flex-grow: 1;
  background-color: #eeeeee;
  border-radius: 4px;
}

.stack {
  margin-top: 1rem;
  justify-content: center;
}

.addButton {
  height: 56px;
}

.saveButton {
  margin-top: 1rem;
  font-weight: bold;
}
